<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.monash.student.happyactive">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/happy_active_home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/happy_active_home_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".CompareAverageActivity" />
        <activity android:name=".ReportsActivity" />
        <activity android:name=".PostActivityStatsFragment"
            android:label="PostActivityStatsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".CompareHistoryFragment"
            android:label="CompareHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".OverallHomeFragment"
            android:label="OverallHomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ActivityPackageListFragment"
            android:label="@string/title_activitypackage_list" />
        <activity android:name=".SessionFragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name=".ActivityPackages.StepCounterService" />
        <service android:name=".ActivityPackages.notifications.ReminderService" />
        <service android:name=".ActivityPackages.notifications.CheckUpService" />
        <receiver android:name=".ActivityPackages.notifications.ReminderReceiver"  android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".ActivityPackages.notifications.CheckUpReceiver"  android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.monash.student.happyactive.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>