<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.monash.student.happyactive">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/happy_active_home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/happy_active_home_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragments.Activities.ActivitiesHomeFragment" />
        <activity android:name=".fragments.Reports.CompareAverageFragment" />
        <activity android:name=".fragments.ActivityDetails.PostActivityStatsFragment" />
        <activity android:name=".fragments.Reports.CompareHistoryFragment" />
        <activity android:name=".fragments.Preferences.PreferencesFragment" />
        <activity android:name=".fragments.Home.OverallHomeFragment" />
        <activity android:name=".fragments.ActivityDetails.SessionFragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ActivityPackages.StepCounterService" />
        <service android:name=".ActivityPackages.notifications.ReminderService" />
        <service android:name=".ActivityPackages.notifications.CheckUpService" />
        <receiver android:name=".ActivityPackages.notifications.ReminderReceiver"  android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".ActivityPackages.notifications.CheckUpReceiver"  android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.monash.student.happyactive.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>